--extra-index-url https://github.com/explosion/spacy-models/releases//tag/de_core_news_lg-3.0.0
--extra-index-url https://github.com/explosion/spacy-models/releases//tag/de_core_news_sm-3.0.0
--extra-index-url https://github.com/explosion/spacy-models/releases//tag/de_dep_news_trf-3.0.0

black
dash
de_core_news_lg
de_core_news_sm
de_dep_news_trf
gensim
ipywidgets>=7.5
jupyterlab
jupytext
matplotlib
nltk
numpy
pandas
pandas-profiling[notebook]
pip-tools
plotly
pre-commit
pyLDAvis
pytest
spacy
stylecloud
textblob-de
pydantic>=1.7.4
urllib3>=1.26.5
