--extra-index-url https://github.com/explosion/spacy-models/releases//tag/de_core_news_lg-3.0.0
--extra-index-url https://github.com/explosion/spacy-models/releases//tag/de_dep_news_trf-3.0.0

black
de_core_news_lg
de_dep_news_trf
gensim
jupyterlab
jupytext
nltk
numpy
pandas
pandas-profiling[notebook]
pip-tools
pre-commit
pyLDAvis
pytest
spacy
textblob-de
